.rated-jokes {
  overflow: scroll;
  position: relative;
}

.blockage {
  max-height: 250px;
  z-index: 1;
}

.titleJokes {
  position: sticky; /* atencion aqui cuando esta  minimizado */
  top: 0; /*   arreglar el z .index */
  z-index: 1;
}

.isThere {
  z-index: -1;
}

.containerjoke {
  min-height: 36vh;
}

.getJoke {
  width: 30%;
  margin: 0 auto;
}

.modal-content {
  background-color: white;
  min-width: 400px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  position: relative;
}

.modality {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.modal-close {
  background-color: rgba(0, 0, 0, 0.502);
  transition: background-color 0.2s ease-in;
}

.modal-close:hover {
  background-color: black;
}

.dropdown-item > * {
  z-index: 1111;
}
