.rated-jokes {
  overflow: scroll;
  position: relative;
}

.blockage {
  max-height: 250px;
  z-index: 1;
}

.titleJokes {
  position: sticky; /* atencion aqui cuando esta  minimizado */
  top: 0; /*   arreglar el z .index */
  z-index: 1;
}

.isThere {
  z-index: -1;
}

.containerjoke {
  min-height: 36vh;
}

.getJoke {
  width: 30%;
  margin: 0 auto;
}

.modal-content {
  background-color: white;
}
